.star-rating-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    bottom: 10px;
    .react-simple-star-rating {
        bottom: 3px;
    }
    .star-rating-text {
        font-size: 0.8em;
    }
}