@import "../../styles/colors";
.xray-container {
    background-color: $navy;
    color: $white;
    font-family: "Consolas,monospace";
    font-weight: bold;
    padding: 10px;
    max-height: 500px;
    overflow: auto;
}